$color-main: #fff;
$color-title: #000;
$color-brand: #FF6336;
$color-shadow: rgba(0, 0, 0, 0.3);
$color-backgraund: #FF9C7D;
$color-section-backgraund: #FFF8E4;
$color-section-person: #C9E8F2;
$color-section-rate: #DABC98;
$color-footer: #EEE;
