@media (max-width: 1445px) {
  .localization-tool-items li {
    margin-bottom: 30px;
  }
}
@media (max-width: 1434px) {
  .section-person {
    padding-top: 10px;
  }
}
@media (max-width: 1419px) {
  .top-categories {
    margin-left: 35px;
  }
}
@media (max-width: 1383px) {
  .manegments-rate-title {
    margin-right: 10px;
  }
}
@media (max-width: 1380px) {
  .top {
    justify-content: center;
  }
  .top-categories {
    margin: 0;
  }
}
@media (max-width: 1349px) {
  .top {
    margin: 45px 0;
  }
}
@media (max-width: 1316px) {
  .section-team li {
    margin-bottom: 30px;
  }
  .section-person {
    margin-top: 0;
  }
  .person-offer {
    margin: 0;
  }
}
@media (max-width: 1300px) {
  .bottom-right {
    padding-right: 20px;
    margin-left: 50px;
  }
}
@media (max-width: 1199px) {
  .top-case {
    display: none;
  }
}
@media (max-width: 1191px) {
  .manegments-rate-title {
    margin-left: 10px;
  }
}
@media (max-width: 1190px) {
  .menu {
    justify-content: center;
    margin: 0;
  }
  .menu-button {
    margin-top: 30px;
  }
  .menu-link-items {
    justify-content: flex-end;
  }
  .bottom-right {
    margin-right: 300px;
  }
}
@media (max-width: 1150px) {
  .main-section img {
    display: none;
  }
  .section-localization-tool {
    margin-top: 91px;
  }
}
@media (max-width: 1140px) {
  .about-offer {
    flex-direction: column;
    padding-top: 0;
  }
  .about-offer img {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }
  .about-offer-reverse img {
    margin-right: 0;
  }
  .section-localization-tool {
    margin-bottom: 45px;
  }
}
@media (max-width: 1096px) {
  .manegments-rate {
    justify-content: center;
  }
  .bottom-right {
    margin-right: 300px;
  }
}
@media (max-width: 1080px) {
  .bottom-right {
    margin-right: 200px;
  }
}
@media (max-width: 1044px) {
  .manegments-rate {
    margin-right: 10px;
    border: none;
  }
}
@media (max-width: 1000px) {
  .work-tool .work-tool-title {
    margin-top: 84px;
    margin-bottom: 30px;
  }
  .work-tool .work-tool-text {
    margin: 30px 100px;
  }
  .work-tool img {
    display: none;
  }
  .work-tool a {
    margin-bottom: 81px;
  }
  .last-text {
    margin: 30px 100px;
  }
  .last a {
    margin-top: 0;
    margin-bottom: 80px;
  }
  .last-categories {
    margin-right: 0;
  }
}
@media (max-width: 990px) {
  .bottom-right {
    margin-right: 50px;
  }
}
@media (max-width: 900px) {
  .rate-images img:first-child {
    margin-right: 20px;
  }
}
@media (max-width: 858px) {
  .rate-images {
    justify-content: center;
  }
}
@media (max-width: 826px) {
  .logo {
    margin-bottom: 30px;
  }
  .bottom {
    flex-direction: column;
  }
  .bottom-right {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 810px) {
  .footer-top {
    margin: 0 30px;
  }
  .categories {
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .work-tool-title {
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media (max-width: 769px) {
  .rate-images img:first-child {
    margin-right: 10px;
  }
}
@media (max-width: 651px) {
  .third-categories {
    margin-right: 0;
  }
  .work-tool-title {
    margin-right: 90px;
    margin-left: 90px;
  }
  .last-categories {
    margin-right: 30px;
  }
}

/*# sourceMappingURL=media.css.map */
